<a href="https://colab.research.google.com/github/maullindaaa/-M2P2V3_Konversi-Struktur-Data/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Konversi Struktur Data**
Fungsi untuk mengubah/konversi struktur data:

a. `list()` : untuk mengubah menjadi list

b. `tuple()`: untuk mengubah menjadi tuple

c.` set() `: untuk mengubah menjadi set

d. `dict()` : untuk mengubah menjadi dictionary

Mengkonversi tipe data list:

In [1]:
#Membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [3]:
#Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L1)
k_dict = dict(zip(L1,L2))
#Meliah data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{1, 2, 3, 4}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data tuple:

In [5]:
#Membaut dua tuple
T1=(1,2,3,4)
T2=(5,6,7,8)

In [7]:
#Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T1)
k_dict = dict(zip(T1,T2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{1, 2, 3, 4}
{1: 5, 2: 6, 3: 7, 4: 8}

Mengkonversi tipe data set:

In [9]:
#Membuat dua set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [10]:
#Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S1)
k_dict = dict(zip(S1,S2))
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(1, 2, 3, 4)
{1: 8, 2: 5, 3: 6, 4: 7}

Mengkonversi tipe data dictionary

In [23]:
#Membuat Dictionary
D={
    "nama": "Andi",
   "alamat": "Yogyakarta",
   "Umur": 20
   }

In [25]:
#Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
#Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'Umur']
('Andi', 'Yogyakarta', 20)
{'alamat', 'Umur', 'nama'}

Latihan

In [28]:
#Lakukan konversi struktur data yang kalian buat pada notebook-notebook sebelumnya menjadi list,tuple,set,dictionary(masing-masing satu)
#Mengkonversi data tipe list
A = [12,2,6]
set(A)
print(set(A))
#Mengkonversi tipe data tuple
Tuple1 = ("HP",False,4+1j,8)
list(Tuple1)
print(list(Tuple1))
#Mengkonversi tipe data set
SET = {8,4+1j,"tilu",False,9}
tuple(SET)
print(tuple(SET))
#Mengkonversi tipe data dictionary
Dict = {'Nama': 'Maulinda', 'Umur':'19'}
tuple(D.values())
print(tuple(D.values()))

{2, 12, 6}
['HP', False, (4+1j), 8]
(False, (4+1j), 8, 9, 'tilu')
('Andi', 'Yogyakarta', 20)